body {
    padding-top: 60px;
}

.pagination {
    margin: 0px 10px 0px 0px;
}

.user-avatar-small {
    height: 32px;
}

.margin-top {
    margin-top: 10px;
}

.table {
    margin-bottom: 10px;
}

td.player {
    padding: 0 !important;
}

td.player div {
    height: 32px;
}